$profile-text-size: clamp(20px, 2vw, 30px);
.cart-page {
  margin-top:20vh;
  height: 30vh;
}

.cart-page-full {
  margin-bottom:20vh;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trash-icon {
  color: #ff4747
}

.trash-icon:hover {
  color: #ff6363
}

.trash-icon:active {
  color: #ff3232
}

.shipping-form {
  text-align: left;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .shipping-form {
    text-align: right;
  }
}