$profile-text-size: clamp(17px, 2vw, 25px);

.home-container {
  border: 1px solid rgba(70, 253, 210, 0.12);
  position: relative;

}

.home-container .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 40px;
  padding: 50px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  min-width: 300px;

}

.home-container .card {
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.home-container .card-img-top {
  height: 250px;
  width: 100%;
}

.home-container .card-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.info-icon {
  font-size: clamp(20px, 3vw, 35px);
}

.info-text {
  font-size: clamp(13px, 1vw, 17px);
}

@media (max-width: 767px) {
  .info-container {
    margin: 50px;
    width: 77vw;
  }

  .season-container {
    display: flex;
    flex-direction: column;
  }
}

.info-container {
  color: #272727;
}

.Why-choose-us-section {
  position: relative;
  text-align: center;
  background-color: white;
  height: 18em;

  .Aroma-span {
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 6rem;
    z-index: 0;

    span {
      font-family: "Montserrat", sans-serif;
      color: #ECECEC;
      font-size: 180px;
      font-weight: 100;
      margin-right: 3rem;
      margin-left: 3rem;
    }
  }

  .Why-choose-us-title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    color: #333333;
    position: relative;

  }

  h5 {
    font-size: 15px;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
}

.info-box {
  box-shadow: #000 0 0 0 1px inset, #2f2f2f4f 12px 5px 12px 0px, #fda446 0px 0;
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 27.7%;
  }
}
.season-container {
  height: 500px;
  width: 85%;
  margin: 100px;
  position: relative;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

}

@media (max-width: 767px) {
  .season-container {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column-reverse;
    height: 110vh;
    margin: 7%;
    padding: 20px;
    justify-content: space-evenly;
  }
}

.season-text {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.season-picture-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.season-picture-container img {
  min-width: 100%;
  min-height: 100%;
  box-shadow: #000000 0 0 0 2px inset, #2f2f2f 10px -10px 0px -3px, #46fdd2 10px -10px;
}

.new-arrivals-text {
  text-align: center;
}