.paypal-buttons{

}

@media (min-width: 995px) {
  .paypal-buttons{
    margin-left: 90px!important;
  }
}

@media (min-width: 1200px) {
  .paypal-buttons{
    margin-left: 180px!important;
  }
}

@media (min-width: 1400px) {
  .paypal-buttons{
    margin-left: 250px!important;
  }
}